<div class="h-full w-full flex flex-col gap-[1.5%]">
  <section class="h-[18%] w-full flex flex-col justify-between">
    <p
      class="text-2xl font-bold font-maven-pro"
      style="text-shadow: 2px 2px 4px #7b7e80"
    >
      INFORME DE TICKETS
    </p>
    <section class="h-[55%] w-full flex flex-row items-center gap-[1%]">
      <div
        class="bg-custom-secondary h-[96%] w-[25%] flex flex-row items-center rounded-sm px-2 shadow-custom-option-dashboar"
      >
        <input
          placeholder="Busqueda por fecha"
          type="text"
          class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
        />
        <img
          src="assets/search-informe.svg"
          alt=""
          class="h-8 w-8 object-cover"
        />
      </div>
      <button
        class="bg-custom-tertiary/25 rounded-full p-[0.7%] shadow-custom-option-dashboar h-[87%] w-[3.4%] flex items-center justify-center"
      >
        <img
          src="assets/left-flecha.svg"
          alt=""
          class="object-contain h-6 w-6"
        />
      </button>
      <button
        class="bg-custom-tertiary/25 rounded-full p-[0.7%] shadow-custom-option-dashboar h-[87%] w-[3.4%] flex items-center justify-center"
      >
        <img
          src="assets/right-flecha.svg"
          alt=""
          class="object-contain h-6 w-6"
        />
      </button>
      <button
        class="bg-custom-tertiary/25 rounded-full p-[0.7%] shadow-custom-option-dashboar h-[87%] w-[3.4%] flex items-center justify-center"
      >
        <img src="assets/delete.svg" alt="" class="object-contain h-6 w-6" />
      </button>
    </section>
  </section>
  <section class="h-[81%] w-full flex flex-col gap-[2%]">
    <div
      class="h-[15%] w-full bg-custom-secondary rounded-t-md border-b-2 border-custom-tertiary/50 flex flex-row items-center gap-[1%] shadow-custom-option-dashboar"
    >
      <div
        class="w-[5%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
      >
        Nro
      </div>
      <div
        class="w-[20%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
      >
        Entrada
      </div>
      <div
        class="w-[20%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
      >
        Salida
      </div>

      <div
        class="w-[15%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
      >
        Metodo Pago
      </div>
      <div
        class="w-[15%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
      >
        Estado
      </div>
      <div
        class="w-[10%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
      >
        Cobro
      </div>
      <div
        class="w-[10%] font-bold font-maven-pro text-custom-primary h-[100%] flex items-center border-custom-tertiary/50 justify-center"
      >
        Extra
      </div>
    </div>
    <!-- READ : ELEMENTO -->
    <div class="h-[85%] w-full overflow-y-auto custom-scrollbar">
      <div
        class="h-[15%] w-full flex flex-row items-start justify-start gap-[1%] mb-[1%]"
      >
        <div
          class="w-[5%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          120
        </div>
        <div
          class="w-[20%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          13/10/2024 - 18:11
        </div>
        <div
          class="w-[20%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          13/10/2024 - 23:11
        </div>

        <div
          class="w-[15%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          Tarjeta de Credito
        </div>
        <div
          class="w-[15%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          <div
            class="bg-custom-quinary/65 rounded-3xl py-[3%] px-[5%] font-bold"
          >
            Pagado
          </div>
        </div>
        <div
          class="w-[10%] font-maven-pro text-custom h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          46 BS
        </div>
        <div
          class="w-[10%] font-maven-pro text-custom h-[100%] flex items-center border-custom-tertiary/50 justify-center"
        >
          10 BS
        </div>
      </div>
      <div
        class="h-[15%] w-full flex flex-row items-start justify-start gap-[1%] mb-[1%]"
      >
        <div
          class="w-[5%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          120
        </div>
        <div
          class="w-[20%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          13/10/2024 - 18:11
        </div>
        <div
          class="w-[20%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          13/10/2024 - 23:11
        </div>

        <div
          class="w-[15%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          Tarjeta de Credito
        </div>
        <div
          class="w-[15%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          <div
            class="bg-custom-quaternary/65 rounded-3xl py-[3%] px-[5%] font-bold"
          >
            Pendiente
          </div>
        </div>
        <div
          class="w-[10%] font-maven-pro text-custom h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          46 BS
        </div>
        <div
          class="w-[10%] font-maven-pro text-custom h-[100%] flex items-center border-custom-tertiary/50 justify-center"
        >
          10 BS
        </div>
      </div>

      <div
        class="h-[15%] w-full flex flex-row items-start justify-start gap-[1%] mb-[1%]"
      >
        <div
          class="w-[5%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          120
        </div>
        <div
          class="w-[20%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          13/10/2024 - 18:11
        </div>
        <div
          class="w-[20%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          13/10/2024 - 23:11
        </div>

        <div
          class="w-[15%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          Tarjeta de Credito
        </div>
        <div
          class="w-[15%] font-maven-pro text-custom-secondary h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          <div
            class="bg-custom-tertiary/65 rounded-3xl py-[3%] px-[5%] font-bold"
          >
            Cancelado
          </div>
        </div>
        <div
          class="w-[10%] font-maven-pro text-custom h-[100%] flex items-center border-r-2 border-custom-tertiary/50 justify-center"
        >
          46 BS
        </div>
        <div
          class="w-[10%] font-maven-pro text-custom h-[100%] flex items-center border-custom-tertiary/50 justify-center"
        >
          10 BS
        </div>
      </div>
    </div>
  </section>
</div>
