<div class="w-[100%] h-[100%] flex flex-row">
  <section
    class="h-full w-[55%] flex-col flex items-center justify-between gap-[5%]"
  >
    <form
      [formGroup]="perfilForm"
      class="w-full h-[55%] border-2 border-custom-secondary border-custom-secondary/20 rounded-md py-[1%] px-[1.5%] gap-[2%] flex flex-col justify-between"
    >
      <p
        class="font-maven-pro font-bold text-xl text-custom-secondary"
        style="text-shadow: 1px 1px 4px #7b7e80"
      >
        INFORMACION BASICA
      </p>
      <section class="h-[20%] w-full flex flex-row gap-[1.5%]">
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="nombreParking"
            placeholder="Nombre Parking"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="cantEspacios"
            placeholder="Cant. Espacios"
            type="number"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="horarioAtencion"
            placeholder="Horario Atencion"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
      </section>
      <section class="h-[20%] w-full flex flex-row gap-[1.5%]">
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="correoElectronico"
            placeholder="Correo Electronico"
            type="email"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="contrasena"
            placeholder="Contraseña"
            type="password"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="telefono"
            placeholder="Telefono"
            type="tel"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
      </section>
      <section class="h-[20%] w-full flex flex-row gap-[1.5%]">
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="direccion"
            placeholder="Direccion"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="coordenadas"
            placeholder="Coordenadas X,Y"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
        <div
          class="bg-custom-secondary h-[100%] w-[32%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="urlGoogleMaps"
            placeholder="URL Google Maps"
            type="url"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>
      </section>
      <section class="h-[15%] w-full flex flex-row gap-[1.5%]">
        <button
          (click)="OnChangedEstadoForm()"
          [ngClass]="
            estadoForm() ? 'rounded-full p-1 shadow-custom-option-dashboar' : ''
          "
          class="bg-custom-tertiary/25 rounded-full p-1 w-[5.6%] flex items-center justify-center"
        >
          <img
            [src]="estadoForm() ? 'assets/view.svg' : 'assets/editar.svg'"
            [alt]="estadoForm() ? 'Ver' : 'Editar'"
            [title]="estadoForm() ? 'Modo visualización' : 'Modo edición'"
            class="h-6 w-6 cursor-pointer"
          />
        </button>
        <button
          [disabled]="estadoForm()"
          (click)="guardarPerfil()"
          class="bg-custom-tertiary/25 rounded-full p-1 shadow-custom-option-dashboar w-[5.6%] flex items-center justify-center"
          [ngClass]="{ 'opacity-50': estadoForm() }"
        >
          <img src="assets/guardarDatos.svg" alt="" class="h-6 w-6" />
        </button>
      </section>
    </form>

    <div
      class="w-full h-[45%] border-2 border-custom-secondary border-custom-secondary/20 rounded-md py-[1%] px-[1.5%] gap-[3%] flex flex-col"
    >
      <div
        #map
        class="h-[100%] w-full rounded-md shadow-custom-option-dashboar"
      ></div>
    </div>
  </section>

  <section
    class="h-full w-[45%] flex-col pl-[1.5%] flex items-center justify-between gap-[5%]"
  >
    <div
      class="w-full h-[270px] border-2 border-custom-secondary border-custom-secondary/20 rounded-md py-3 px-4 flex flex-col"
    >
      <p
        class="font-maven-pro font-bold text-xl text-custom-secondary"
        style="text-shadow: 1px 1px 4px #7b7e80"
      >
        REGLAS DEL ESTACIONAMIENTO
      </p>

      <form
        [formGroup]="reglaForm"
        (ngSubmit)="guardarRegla()"
        class="flex flex-row h-[14%] items-center justify-between gap-[3%]"
      >
        <div
          class="bg-custom-secondary h-[100%] w-[45%] flex flex-row rounded-sm px-2 shadow-custom-option-dashboar"
        >
          <input
            formControlName="descripcion"
            placeholder="Descripcion"
            type="text"
            class="border-none outline-none bg-transparent font-maven-pro text-custom-primary text-base w-[95%] h-[100%]"
          />
        </div>

        <div
          class="relative bg-custom-secondary h-[100%] w-[30%] rounded-sm shadow-custom-option-dashboar"
        >
          <select
            formControlName="categoria"
            class="appearance-none w-full h-full px-3 bg-transparent font-maven-pro text-custom-primary text-base cursor-pointer border-none outline-none"
          >
            <option value="" disabled selected>Categoría</option>
            <option
              *ngFor="let cat of categorias"
              [value]="cat.display"
              class="bg-gray-800 text-white py-2"
            >
              {{ cat.display }}
            </option>
          </select>
          <div
            class="absolute right-2 top-1/2 -translate-y-1/2 pointer-events-none"
          >
            <svg
              class="h-4 w-4 text-custom-primary"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </div>
        </div>

        <div class="flex flex-row gap-6 w-[50%] justify-end">
          <button
            type="submit"
            class="bg-custom-tertiary/25 rounded-full p-1 shadow-custom-option-dashboar"
          >
            <img src="assets/create.svg" alt="" class="h-6 w-6" />
          </button>
          <button
            type="button"
            class="bg-custom-tertiary/25 rounded-full p-1 shadow-custom-option-dashboar"
          >
            <img src="assets/search.svg" alt="" class="h-6 w-6" />
          </button>
        </div>
      </form>

      <section class="h-[80%] w-full overflow-y-auto custom-scrollbar">
        <div
          *ngFor="let regla of reglas; let i = index"
          class="group h-[60px] w-full flex items-center gap-4 py-2 px-4 hover:bg-custom-secondary/5 transition-all duration-200 rounded-sm mb-2"
        >
          <!-- Punto de categoría -->
          <div class="flex items-center justify-center">
            <div
              [ngStyle]="{ 'background-color': regla.color }"
              class="w-2 h-2 rounded-full transform group-hover:scale-125 transition-transform duration-200"
            ></div>
          </div>

          <!-- Descripción -->
          <div class="flex-grow min-w-0">
            <p
              class="text-base font-maven-pro text-custom-secondary line-clamp-2"
            >
              {{ regla.descripcion }}
            </p>
          </div>

          <!-- Categoría -->
          <div class="flex-shrink-0 min-w-[100px] text-right">
            <span
              [ngStyle]="{ color: regla.color }"
              class="font-maven-pro text-sm font-medium"
            >
              {{ regla.categoria }}
            </span>
          </div>

          <!-- Botones de acción con tamaño fijo -->
          <div class="flex items-center gap-2">
            <button
              (click)="editarRegla(i)"
              class="w-8 h-8 flex items-center justify-center hover:scale-110 transition-transform"
            >
              <img src="assets/editar.svg" alt="Editar" class="w-6 h-6" />
            </button>
            <button
              (click)="eliminarRegla(i)"
              class="w-8 h-8 flex items-center justify-center hover:scale-110 transition-transform"
            >
              <img src="assets/delete.svg" alt="Eliminar" class="w-6 h-6" />
            </button>
          </div>
        </div>
      </section>
    </div>

    <label
      for="fileUpload"
      class="w-full h-[45%] flex items-center gap-[5%] justify-center flex-col border-2 border-custom-secondary/20 rounded-md cursor-pointer relative overflow-hidden"
    >
      <div class="absolute inset-0 flex items-center justify-center">
        <img
          [src]="imageEmpresa()"
          alt=""
          [class]="
            estadoImagen()
              ? 'w-full h-full object-contain rounded-md'
              : 'h-[50%] w-[30%] object-contain'
          "
          style="max-width: 100%; max-height: 100%"
        />
      </div>
      <p
        *ngIf="!estadoImagen()"
        class="font-bold font-maven-pro text-xl text-custom-secondary absolute bottom-3"
        style="text-shadow: 1px 1px 4px #008005"
      >
        Subir una imagen 1500x1000
      </p>
      <input
        id="fileUpload"
        type="file"
        class="hidden"
        (change)="seleccionarImagen($event)"
        accept="image/*"
      />
    </label>
  </section>
</div>
